body {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  text-align: center;
}

#first-bar-container {
  width: 100%;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-left: 1.5rem;
}

.logo-name {
  display: flex;
}

.logo-name span {
  line-height: 2rem;
  font-size: 1.35rem;
  margin-left: 0.25rem;
  align-self: center;
  font-weight: bold;
}
#academy {
  color: grey;
  margin-left: 0;
  font-weight: normal;
}

#first-bar-container nav {
  margin-right: 1.5rem;
  text-align: right;
  flex-grow: 1;
}
#first-bar-container nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
}

.main-box {
  background-color: lightgray;
}

#banner-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.img-banner {
  width: 60%;
  margin: 2rem 1.5rem;
  display: inline;
}

.banner-text {
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.big-title {
  font-size: 3rem;
  font-weight: bold;
  color: #3f3f3f;
  text-align: start;
  line-height: 3.2rem;
}

.banner-text h2 {
  color: #3f3f3f;
  margin-top: -0.5rem;
}

#start-button {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  color: white;
  width: 18rem;
  height: 3rem;
  background-color: #3f3f3f;
  padding: 0.5rem;
}

#practicing {
  width: 100%;
  margin-top: 0rem;
  display: inline-flex;
  justify-content: space-between;

  height: auto;
}

#img-pract {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.pract-image-text {
  width: 60%;
  margin-left: 1.5rem;
  margin-top: 2rem;
  height: 45rem;
}

.pract-text {
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-top: -3.5rem;
  width: 60%;
  text-align: left;
}

.pract-text p {
  margin-top: -1rem;
  font-size: 1rem;
  color: #6a6a6a;
}
.pract-text .author {
  font-size: 0.8rem;
}

.right-menu {
  margin-left: 2rem;
  margin-top: 2rem;

  width: 35%;
  height: 45rem;
  display: flex;
  flex-direction: column;
}

.right-menu-img {
  width: 35%;
}

.right-menu-img-txt {
  display: flex;
  align-items: center;
  border: 1px solid beige;
  align-content: center;
  margin-bottom: 2rem;
}

.right-menu-txt {
  margin-left: 1rem;
  margin-right: 0.5rem;
  text-align: left;
}
.right-menu-txt h2 {
  font-weight: bold;
}
.right-menu-txt p {
  font-weight: 100;
  color: darkgrey;
}

.read-more {
  text-decoration: none;
  color: #5585b5;
}

#courses {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  padding-top: 2rem;

}

.h2-learning {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#learning-img-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4.5rem;
  padding-bottom: 2rem;
}
.course-img-text {
  margin: 1rem 1rem;
  width: 30%;
  height: 24rem;
  background-color: white;
  text-align: left;
}

.course-img {
  width: 100%;
  height: auto;
}

.course-text {
  margin-left: 1rem;
  width: 90%;
  margin-top: -1rem;
}

.course-text h3 {
  font-size: 1.5rem;
}
.course-text p {
  color: darkgrey;
}

#thesis-exibit {
  width: 100%;
  height: auto;
}

.left-right-box{
display: inline-flex;

}

.video-text-box {
  width: 50%;
  margin-left: 1.5rem;
  text-align: left;
}

.video-text-box p {
  color: darkgrey;
}

.mini-right-menu {
  display: inline-flex;
  flex-direction: column;
  margin-left: 2rem;

}
.mini-right-menu-img {
  height: 70%;
}
.mini-right-menu-img-txt {
  display: flex;
  align-items: center;
  height: auto;


}

.mini-right-menu-txt {
  text-align: left;
  margin-left: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  font-size: small;
  
}